<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign In</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<form action="/" method="get">
<button type="submit">← Back</button>
</form>
<div class="auth-container">
  <h1>Log In</h1>

  <% if (error) { %>
    <p class="error-message"><%= error %></p>
  <% } %>

  <form action="/auth/sign-in" method="POST" class="auth-form">
    <label>Username</label>
    <input type="text" name="username" required />

    <label>Password</label>
    <input type="password" name="password" required />

    <button type="submit">Sign In</button>
  </form>
</div>

</body>
</html>
