* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aqua;
  font-weight: bold;
}

nav{
  border: 2px solid rgb(52, 52, 52);
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}
